node_modules
.pnp
.pnp.js
coverage
*.lcov
build
dist
out
.next
.DS_Store
*.pem
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.idea
.vscode
*.swp
*.swo
cache
broadcast
artifacts
cache_hardhat
typechain
typechain-types
.anvil
